
html * {
    font-family: Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
    color: #333333;
}

#bio > p > .fa {
    font-size: large;
} 


#bio > p > a > .fa-clickable {
    font-size: larger;
} 

#bio > p > a {
    color: #2E86C1;
    text-decoration: none;
}

#bio > p > a:hover {
    text-decoration: underline;
 }

/* .pub_div > p {
    margin: 0px;
    padding: 0px;
} */

h3 {
    /* padding-bottom: 0; */
    margin-bottom: 10px;
}

.inforow {
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 0.95em;
}
.pub > a {
    color: #333333;
    text-decoration: none;
}

.pub > a:hover {
    color: #54a2d6;
    text-decoration: underline;
}

.title {
    padding-bottom: 2px;
    margin: 0px;
}

.authors {
    padding: 0px;
    margin: 0px;
    color: #707070;
    font-size: 0.95em;
    /* color: #54a2d6; */
}

.pub {
    /* font-size: small; */
        font-size: 0.95em;

    font-family: Helvetica;
    font-weight: bold;
}

.conf {
    font-style: italic;
}

footer {
    color: gray;
    font-size: smaller;
}

#pic {
    margin-left:10px;
    float: right;
    height: 230;
}

.exinfo {
    font-family: sans-serif;
    font-size: small;
    background-color: #2E86C1;
    color: #f2f2f2;
    padding: 2px 3px 2px 3px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
}
.exinfo:hover{
    text-decoration: underline;
}

@media (min-width: 960px) {
    body {
        margin: 0% 20% 0% 20%;
    }
}


@media (max-width: 960px) {
    body {
        margin: 0% 5% 0% 5%;
    }
    #pic {
        margin-left:10px;
        width: 40%;
        height: 40%;
    }
}

.pub-toggle {
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 1.05em;
}

.pub-toggle-btn {
    cursor: pointer;
    color: #aaaaaa;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
}

.pub-toggle-btn.active {
    color: #2E86C1;
    font-weight: bold;
}

.pub-toggle-btn:hover {
    color: #2E86C1;
}

.pub-legend {
    font-size: 0.8em;
}

#pub-section.selected-only .pub_div:not(.selected) {
    display: none;
}