body {
    background-color: #f2f2f2;
    color: #333333;
}

#bio > p > a {
    color: #66b3ff;
    text-decoration: none;
}

#bio > p > a:hover {
    text-decoration: underline;
 }

.pub > a {
    color: #333333;
    text-decoration: none;
}

.pub > a:hover {
    text-decoration: underline;
}